/* MOBILE: default view */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, "Arial Narrow", Helvetica, sans-serif;
}

body {
    background-color: #1b4ca3;
    min-height: 100vh;
}

#video, #musicBtn {
    display: none;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 45px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;

}

nav a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    box-shadow: -8px 0 8px rgba(40, 40, 40, 0.604);
    flex-direction: column;
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
}

.sidebar li {
    width: 100%;
    font-size: 22px;
}

.sidebar a {
    width: 100%;
    color: black;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    position: fixed;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#nwjsLogo {
    height: 150px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 12px;
}

.socials {
    list-style-type: none;
    display: flex;
    gap: 30px;
    padding-bottom: 20px;

}

.socials a {
    font-size: 30px;
    color: white;
}

footer p {
    font-size: 12px;
    text-align: center;
    width: 90%; 
}


/* --------- media queries --------- */
/* TABLET */
@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

/* TABLET -> DESKTOP (?? this is an interesting space) */
@media (min-width: 801px) {
    #video {
        display: block;
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        z-index: -1; /* keeps video behind content */
    }

    body {
        background-color: transparent; /* removes blue bg */
        font-size: 18px;
    }

    .hamburgerMenu {
        display: none;
    }

    nav ul {
        justify-content: center;
        margin: 0 auto;
        width: 70%;
        padding: 20px;
        font-size: 22px;
    }

    #musicBtn {
    background-color: #4b515a50;
    border: none;
    border-radius: 100%;
    font-size: 28px;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
    display: block;
    }

    #musicBtn:hover {
        background-color: #4b515a;
    }

    #nwjsLogo {
        height: 200px;
    }
}

