/* MOBILE: default view */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, "Arial Narrow", Helvetica, sans-serif;
}

body {
    background-color: #b4ceed;
    min-height: 100vh;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 45px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;

}

nav a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    box-shadow: -8px 0 8px rgba(40, 40, 40, 0.604);
    flex-direction: column;
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
}

.sidebar li {
    width: 100%;
    font-size: 22px;
}

.sidebar a {
    width: 100%;
    color: black;
}

main, form {
    display: flex;
    flex-direction: column;
}

main {   
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    width: 80%;
}

form {
    width: 100%;
    gap: 12px;
}

h1 {
    padding: 20px;
    color: white;
}

form input, textarea {
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    border: 1px solid grey;

}

button {
    font-size: 16px;
    border: 1px solid rgb(167, 166, 166);
    border-radius: 5px;
    width: 80px;
    margin-top: 24px;
    padding: 8px;
}

button:hover {
    background-color: rgb(186, 183, 183);
    cursor: pointer;
}

textarea {
    height: 120px;
    font-family: Arial, "Arial Narrow", Helvetica, sans-serif;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 12px;
}

.socials {
    list-style-type: none;
    display: flex;
    gap: 30px;
    padding-bottom: 20px;

}

.socials a {
    font-size: 30px;
    color: white;
}

footer p {
    font-size: 12px;
    text-align: center;
    width: 90%; 
    color: white;
}


/* --------- media queries --------- */
/* TABLET */
@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

/* TABLET -> DESKTOP (?? this is an interesting space) */
@media (min-width: 768px) {
    main {
        width: 60%
    }

    button {
        padding: 8px;
        width: 80px;
    }
}

@media (min-width: 801px) {
    html, body {
        background-image: url(/images/nwjsbg2.jpeg);
        background-position: center;
        background-repeat: none;
        background-size: cover;
    }
    .hamburgerMenu {
        display: none;
    }

    nav ul {
        justify-content: center;
        margin: 0 auto;
        width: 70%;
        padding: 20px;
        font-size: 22px;
    }

    main {
        width: 28%
    }
}