* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    background: url(/images/contactbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: Arial, "Arial Narrow", Helvetica, sans-serif;
}

header {
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(233, 239, 247, 0.672);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.menu {
    display: flex;
    justify-content: center;
    gap: 58px;
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    font-weight: bold;
}

.menu a:hover {
    color: grey;
}

/*-----------------------------------*/

main {
    background-color: rgba(233, 239, 247, 0.672);
    width: 30%;    
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
}

h1 {
    padding: 20px;
    color: rgb(42, 42, 42);
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}

form input, textarea {
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.agreements, .check  {
    display: flex;
}

.agreements {
    margin-top: 18px;
    gap: 78px;
}

.check {
    gap: 20px;
}

.checkbox {
    height: 16px;
    width: 16px;
}

button {
    font-size: 16px;
    padding: 5px;
    border: 1px solid rgb(167, 166, 166);
    border-radius: 5px;
}

button:hover, .checkbox:hover {
    cursor: pointer;
}

button:hover {
    background-color: rgb(186, 183, 183);
}

textarea {
    height: 120px;
    font-family: Arial, "Arial Narrow", Helvetica, sans-serif;
}

/*--------------------------*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 12px;
    padding-top: 30px;
    background-color: rgba(233, 239, 247, 0.672);
}

.socials {
    list-style-type: none;
    display: flex;
    gap: 30px;
    padding-bottom: 20px;
}

.socials a {
    font-size: 30px;
    color: black;
}

footer p {
    font-size: 12px;
}

/*--------------media query------------------------*/

@media screen and (min-width: 393px) and (max-width: 800px) {
    body {
        background: none;
        background-color: rgb(238, 246, 251);
    }
    
    header {
        background-color: white;
        box-shadow: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    main {
        background-color: transparent;
        width: 80%;
        top: 40%;
    }

    form {
        width: 100%;
    }

    form input, textarea {
        border: 1px solid grey;
    }

    .menu {
        gap: 14%;
    }

    footer {
        padding: 20px 0px;
        background-color: white;
        border-top: 1px solid rgb(207, 203, 203);
    }

    footer p {
        text-align: center;
    }
}

@media screen and (min-width: 801px) and (max-width: 1024px) {
    main {
        width: 50%;
    }
}
